{% macro input_form(name, label_text, placeholder, type="text", value="", min="", max="", readonly=False) %}
    <div class="mb-3">
        <label for="{{ name }}" class="form-label">{{ label_text }}</label>
        <input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}"
            {% if readonly %} readonly {% endif %} > </div>
{% endmacro %}

{%macro formNuevo(field)%}
<td>{{field.label}}</td>
<dd>{{field(**kwargs)|safe}}</dd>
{%if field.errors%}
    {%for error in field.errors%}
        <li style="color: red;">{{error}}</li>
    {%endfor%}
{%endif%}
{%endmacro%}